DATABASE_URL=postgresql://postgres:postgres@localhost:5433/nika_gpt_bot?schema=public
BACKEND_URL=https://localhost:5100
ACCESS_TOKEN_SECRET=112233
REFRESH_TOKEN_SECRET=112266
PORT=5100
BOT_TOKEN=
NODE_ENV=dev
OPENAI_API_KEY=